@{
    ViewData["Title"] = "Classmates";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
                <h2>Class<span class="primary">mates</span> <span class="title-bg">Piers</span></h2>
                <p>These are my classmates, all are great people feel free to check out their own sites! (Under Construction)</p>
            </div>
        </div>
    </div> <!-- /.row -->



    <div class="row isotope-gutter">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-3">
            <figure class="works-item">
                <img src="~/images/Classmates/Sean.jpg" alt="Sean">
                <div class="overlay"></div>
                <figcaption class="works-inner">
                    <h4>Sean</h4>
                    <p>
                        <a href="http://thatssean.com" target="_blank">Sean's Site</a><br>

                    </p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-3">
            <figure class="works-item">
                <img src="~/images/Classmates/Colson.jpg" alt="Colson">
                <div class="overlay"></div>
                <figcaption class="works-inner">
                    <h4>Colson</h4>
                    <p>
                        <a href="http://ColsonDonnerDev.com" target="_blank">Colson's Site</a><br>

                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-3">
            <figure class="works-item">
                <img src="~/images/Classmates/Evan.jpg" alt="Evan">
                <div class="overlay"></div>
                <figcaption class="works-inner">
                    <h4>Evan</h4>
                    <p>
                        <a href="http://evannoeldev.com" target="_blank">Evan's Site</a><br>

                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-3">
            <figure class="works-item">
                <img src="~/images/Classmates/JD.jpg" alt="Jeffery">
                <div class="overlay"></div>
                <figcaption class="works-inner">
                    <h4>Jeffery</h4>
                    <p>
                        <a href="http://jeffreycundiff.com" target="_blank">Jeffery's Site</a><br>

                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-3 col-lg-3">
            <figure class="works-item">
                <img src="~/images/Classmates/Natalie.jpg" alt="Natalie">
                <div class="overlay"></div>
                <figcaption class="works-inner">
                    <h4>Natalie</h4>
                    <p>
                        <a href="http://natalielk.com" target="_blank">Natalie's Site</a><br>

                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-3">
            <figure class="works-item">
                <img src="~/images/works/1.jpg" alt="Aaron">
                <div class="overlay"></div>
                <figcaption class="works-inner">
                    <h4>Aaron</h4>
                    <p>
                        <a href="http://aaronfschmitt.com" target="_blank">Aaron's Site</a><br>

                    </p>
                </figcaption>
            </figure>
        </div>
        
    </div>

</div> <!-- /.row -->
<nav class="clear">
    <div class="container">
        <div class="row flex flex-middle space-between">

            <a href="@Url.Action("About", "Home")" class="link col-lg-3">&larr; About</a>
            <a href="@Url.Action("Portfolio", "Home")" class="link col-lg-offset-9 col-lg-3">Portfolio &rarr;</a>
            </ul>
        </div>
    </div>
</nav>