@{
    ViewData["Title"] = "Email Submitted";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
                <h2>
                    Thank <span class="primary">You</span>
                    <span class="title-bg">Email</span>
                </h2>
                <p>Thank you for reaching out I will be in touch within 1 to 3 days</p>
            </div>
        </div>
    </div>
