@{
    ViewData["Title"] = "Resume";
}


            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title text-center">
                            <h2>
                                My <span class="primary">history</span>
                                <span class="title-bg">Resume</span>
                            </h2>
                            <p>Feel free to view/download my resume via the button below! (Under Construction)</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row mb">
                    <div class="col-xs-12 col-sm-6">
                        <div class="history-block">
                            <div class="section-title light clear">
                                <h3>Education</h3>
                            </div>
                            <!-- /.section-title -->
                            <div class="history-scroller">
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Belton High</h5>
                                        <span>2016 - 2020</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-laptop"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Centriq Training</h5>
                                        <span>10/03/22 - 01/20/23</span>
                                        <!-- <p>
                                          Attended Centriq Traning's Full Stack Developer <br />
                                          program.
                                        </p> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.history-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="history-block">
                            <div class="section-title light clear">
                                <h3>Experiences</h3>
                            </div>
                            <!-- /.section-title -->
                            <div class="history-scroller">
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>IHOP - Server</h5>
                                        <span>2018 - 2022</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>IHOP - Cook</h5>
                                        <span>2020 - 2022</span>

                                    </div>
                                </div>
                                <!-- /.history-item -->

                            </div>
                            <!-- /.history-block -->
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>

                    <!-- /.row -->
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="history-block">
                            <div class="section-title light clear">
                                <h3>Technical Training</h3>
                            </div>
                            <!-- /.section-title -->
                            <div class="history-scroller">
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>.NET Core MVC Framework</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Troubleshooting & Debugging</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Source Control</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Agile/Scrum (Created Team Project)</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Website Deployment</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Pair Programming</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Code Review</h5>
                                        <span>Centriq</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                            </div>
                        </div>
                        <!-- /.history-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="history-block">
                            <div class="section-title light clear">
                                <h3>Skills</h3>
                            </div>
                            <!-- /.section-title -->
                            <div class="history-scroller">
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Inputted orders into the point of sale system (P.O.S system)</h5>
                                        <span>IHOP</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Maintained clear verbal communication</h5>
                                        <span>IHOP</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Acquired the ability to multi-task</h5>
                                        <span>IHOP</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Acquired the ability to resolve conflict</h5>
                                        <span>IHOP</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->
                                <div class="history-item">
                                    <div class="history-icon">
                                        <span class="history-hex"></span>
                                        <i class="tf-documents5"></i>
                                    </div>
                                    <div class="history-text">
                                        <h5>Acquired the ability to remain organized in a fast-paced enviroment</h5>
                                        <span>IHOP</span>
                                    </div>
                                </div>
                                <!-- /.history-item -->

                            </div>
                            <!-- /.history-block -->
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <div class="container">
                        <div class="row flex flex-middle space-between">
                            <a href="/images/ResumeIT.pdf" class="a" target="_blank">View Resume</a>
                        </div>
                    </div>

                    <!-- /.row -->

                </div>
                <!-- /.container -->
                <!-- /.page-nav -->
            </div>
            <!-- /.pt-tablecell -->

            <nav class="clear">
                <div class="container">
                    <div class="row flex flex-middle space-between">

                        <a href="@Url.Action("Portfolio", "Home")" class="link col-lg-3">&larr; Portfolio</a>
                        <a href="@Url.Action("Contact", "Home")" class="link col-lg-offset-9 col-lg-3">Contact &rarr;</a>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- /.page-nav -->
            